<app-header></app-header>
<app-todos></app-todos>
<h1>
  {{title}}
</h1>

 <h3>jeux </h3>
<ul>
  <!-- *ngFor permet de générer autant d'élément HTML que le tableau en contient -->
  <li *ngFor="let jeu of jeux">
    <span (click)="editJeu(jeu)">
    <h1>{{jeu.name}}</h1>
     <p>{{jeu.summary}}</p>
      {{jeu.genres}}
      {{jeu.text}}
      <li *ngFor="let screenshot of jeu.screenshots">
        <img src="{{screenshot.url}}"/>
        </li>
    <button (click)="deleteTodo(todo)">x</button>
    </span>
  
  </li>
</ul> 
<app-footer></app-footer>