<app-header></app-header>
<!-- <app-todos></app-todos> -->
<body>
<div class="container">
  <div class="row">
<h1 class="title-detail">
  {{title}}
</h1>
<p class="text-detail">Voici la liste des jeux que contient notre site.</p>
<ul>
  <!-- *ngFor permet de générer autant d'élément HTML que le tableau en contient -->
 <div *ngFor="let jeu of jeux" 
  [class.selected]="jeu === selectedJeu" 
  (click)="onSelect(jeu)">
    <div class="text-center"><span class="badge">genres: {{jeu.genres}} </span> name: {{jeu.name}}</div>
    <div class="">
    description: {{jeu.summary}}
    </div>
    <ul>
      <div class="container">
  <div class="row">
        <div *ngFor="let screenshot of jeu.screenshots" class="col-lg-3">
        <div class=""><span class=""><img class="img-responsive"src="{{screenshot.url}}"/></span></div>      
        </div> 
      </div>
      </div>
    </ul>
  </div>
</ul> 
<div *ngIf="selectedJeu">
<h2>{{selectedJeu.name}} details!</h2>
<div><label>genres: </label>{{selectedJeu.genres}}</div>
<div>
  <label>name: </label>
  <input [(ngModel)]="selectedJeu.name" placeholder="name"/>
</div>
</div>
</div>
</div>
</body>
<app-footer></app-footer>

  